DerivedData/ModuleCache/Session.modulevalidation
DerivedData/sdmip/info.plist
DerivedData/sdmip/scm.plist
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/dgph
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/sdmip-all-non-framework-target-headers.hmap
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/sdmip-all-target-headers.hmap
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/sdmip-generated-files.hmap
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/sdmip-own-target-headers.hmap
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/sdmip-project-headers.hmap
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/sdmip.hmap
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/batch.d
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/batch.dia
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/batch.o
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/cell.d
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/cell.dia
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/cell.o
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/cuts.d
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/cuts.dia
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/cuts.o
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/delta.d
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/delta.dia
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/delta.o
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/improve.d
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/improve.dia
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/improve.o
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/input.d
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/input.dia
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/input.o
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/lambda.d
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/lambda.dia
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/lambda.o
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/log.d
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/log.dia
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/log.o
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/master.d
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/master.dia
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/master.o
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/memory.d
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/memory.dia
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/memory.o
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/omega.d
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/omega.dia
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/omega.o
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/optimal.d
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/optimal.dia
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/optimal.o
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/parser.d
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/parser.dia
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/parser.o
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/prob.d
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/prob.dia
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/prob.o
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/quad.d
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/quad.dia
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/quad.o
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/rvgen.d
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/rvgen.dia
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/rvgen.o
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/sd.d
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/sd.dia
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/sd.o
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/sdmip.LinkFileList
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/sdmip_dependency_info.dat
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/sigma.d
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/sigma.dia
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/sigma.o
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/soln.d
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/soln.dia
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/soln.o
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/solverc.d
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/solverc.dia
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/solverc.o
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/subprob.d
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/subprob.dia
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/subprob.o
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/supomega.d
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/supomega.dia
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/supomega.o
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/testout.d
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/testout.dia
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/testout.o
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/theta.d
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/theta.dia
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/theta.o
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/utility.d
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/utility.dia
DerivedData/sdmip/Build/Intermediates/sdmip.build/Debug/sdmip.build/Objects-normal/x86_64/utility.o
DerivedData/sdmip/Build/Intermediates/sdmip.build/Release/sdmip.build/dgph
DerivedData/sdmip/Build/Products/Debug/sdmip
DerivedData/sdmip/Index/Debug/macosx10.10-x86_64/sdmip.xcindex/db.xcindexdb
DerivedData/sdmip/Index/Debug/macosx10.10-x86_64/sdmip.xcindex/db.xcindexdb-shm
DerivedData/sdmip/Index/Debug/macosx10.10-x86_64/sdmip.xcindex/db.xcindexdb-wal
DerivedData/sdmip/Index/Debug/macosx10.10-x86_64/sdmip.xcindex/db.xcindexdb.strings-cmp
DerivedData/sdmip/Index/Debug/macosx10.10-x86_64/sdmip.xcindex/db.xcindexdb.strings-dir
DerivedData/sdmip/Index/Debug/macosx10.10-x86_64/sdmip.xcindex/db.xcindexdb.strings-file
DerivedData/sdmip/Index/Debug/macosx10.10-x86_64/sdmip.xcindex/db.xcindexdb.strings-moduleurl
DerivedData/sdmip/Index/Debug/macosx10.10-x86_64/sdmip.xcindex/db.xcindexdb.strings-res
DerivedData/sdmip/Index/Debug/macosx10.10-x86_64/sdmip.xcindex/db.xcindexdb.strings-sym
DerivedData/sdmip/Logs/Build/0F9EA612-7B38-44E3-B442-4610A0E568FE.xcactivitylog
DerivedData/sdmip/Logs/Build/6CD7CB45-C19C-419B-B9E9-DC5C5391518F.xcactivitylog
DerivedData/sdmip/Logs/Build/930A709A-EA40-4167-BDE1-1AA2112FC35B.xcactivitylog
DerivedData/sdmip/Logs/Build/B716879C-2D12-46F6-8AC3-103BEACD6703.xcactivitylog
DerivedData/sdmip/Logs/Build/C3926A92-24BC-48BD-85C3-2E0B3E2E4257.xcactivitylog
DerivedData/sdmip/Logs/Build/Cache.db
DerivedData/sdmip/Logs/Build/D2160AE4-D24C-4460-B483-F0FB0623992C.xcactivitylog
DerivedData/sdmip/Logs/Issues/713D1083-7174-49E5-B400-24D4E5015709.xcactivitylog
DerivedData/sdmip/Logs/Issues/Cache.db
DerivedData/sdmip/TextIndex/text-filter.idx
sdmip.xcodeproj/project.xcworkspace/xcshareddata/sdmip.xccheckout
sdmip.xcodeproj/project.xcworkspace/xcuserdata/yifanliu.xcuserdatad/UserInterfaceState.xcuserstate
config.sd
